
.hero{
    min-height: 60vh;
    background-image: url('/img/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}